# Environtment
NODE_ENV=development

# Server
PORT=8000
HOST=localhost

# JWT
JWT_ACCESS_SECRET_KEY=secret
JWT_REFRESH_SECRET_KEY=secret
# in ms
JWT_ACCESS_EXPIRES_IN=3600000 # 1 hour
JWT_REFRESH_EXPIRES_IN=2592000000 # 30 days

# Cookie
COOKIE_SECRET_KEY=secret

# Cors
CORS_ORIGIN=*

# Rate Limit
RATE_LIMIT_MAX=100
# in ms
RATE_LIMIT_WINDOW_MS=60000 # 1 minute

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgre@localhost:5433/express_boilerplate?schema=public"

# Database
DB_USER=postgres
DB_PASSWORD=postgre
DB_NAME=express_boilerplate
DB_PORT=5433